In [1]:
import datetime as dt
import pandas as pd

In [2]:
citibike=pd.read_csv('citibike.csv.xls')
citibike

                       start_time                 stop_time
0        2020-06-01 00:00:03.3720  2020-06-01 00:17:46.2080
1        2020-06-01 00:00:03.5530  2020-06-01 01:03:33.9360
2        2020-06-01 00:00:09.6140  2020-06-01 00:17:06.8330
3        2020-06-01 00:00:12.1780  2020-06-01 00:03:58.8640
4        2020-06-01 00:00:21.2550  2020-06-01 00:24:18.9650
...                           ...                       ...
1882268  2020-06-30 23:59:41.1160  2020-07-01 00:11:06.7790
1882269  2020-06-30 23:59:46.4260  2020-07-01 00:07:13.0860
1882270  2020-06-30 23:59:47.4770  2020-07-01 00:07:06.5590
1882271  2020-06-30 23:59:53.3950  2020-07-01 00:14:43.4270
1882272  2020-06-30 23:59:53.9010  2020-07-01 00:07:07.0950

[1882273 rows x 2 columns]

# Q1:Convert the start_time and stop_time columns to store datetime(Timestamp) values instead of string

In [3]:
citibike.dtypes

start_time    object
stop_time     object
dtype: object

In [4]:
citibike['start_time']=pd.to_datetime(citibike['start_time'])
citibike['stop_time']=pd.to_datetime(citibike['stop_time'])

In [5]:
citibike.dtypes

start_time    datetime64[ns]
stop_time     datetime64[ns]
dtype: object

# Q2: Count rides that occured on each day of week (Monday,Tuesday and so on).Which weekdays is the most popular for a bike ride?USe the satrt_time column aas your starting point

In [6]:
citibike['Day_of_week']=citibike['start_time'].dt.day_name()

In [7]:
citibike

                     start_time               stop_time Day_of_week
0       2020-06-01 00:00:03.372 2020-06-01 00:17:46.208      Monday
1       2020-06-01 00:00:03.553 2020-06-01 01:03:33.936      Monday
2       2020-06-01 00:00:09.614 2020-06-01 00:17:06.833      Monday
3       2020-06-01 00:00:12.178 2020-06-01 00:03:58.864      Monday
4       2020-06-01 00:00:21.255 2020-06-01 00:24:18.965      Monday
...                         ...                     ...         ...
1882268 2020-06-30 23:59:41.116 2020-07-01 00:11:06.779     Tuesday
1882269 2020-06-30 23:59:46.426 2020-07-01 00:07:13.086     Tuesday
1882270 2020-06-30 23:59:47.477 2020-07-01 00:07:06.559     Tuesday
1882271 2020-06-30 23:59:53.395 2020-07-01 00:14:43.427     Tuesday
1882272 2020-06-30 23:59:53.901 2020-07-01 00:07:07.095     Tuesday

[1882273 rows x 3 columns]

In [8]:
popular_day=citibike['stop_time']-citibike['start_time']
popular_day

0         0 days 00:17:42.836000
1         0 days 01:03:30.383000
2         0 days 00:16:57.219000
3         0 days 00:03:46.686000
4         0 days 00:23:57.710000
                   ...
1882268   0 days 00:11:25.663000
1882269   0 days 00:07:26.660000
1882270   0 days 00:07:19.082000
1882271   0 days 00:14:50.032000
1882272   0 days 00:07:13.194000
Length: 1882273, dtype: timedelta64[ns]

In [9]:
popular_day.sort_values(ascending=False)

50593     32 days 15:01:54.940000
98339     31 days 01:47:20.632000
52306     30 days 19:32:20.696000
15171     30 days 04:26:48.424000
149761    28 days 09:24:50.696000
                    ...
195591     0 days 00:01:01.011000
1681750    0 days 00:01:01.008000
723961     0 days 00:01:01.008000
830544     0 days 00:01:01.003000
1810037           0 days 00:01:01
Length: 1882273, dtype: timedelta64[ns]

In [10]:
citibike.loc[50593]

start_time     2020-06-01 21:30:17.759000
stop_time      2020-07-04 12:32:12.699000
Day_of_week                        Monday
Name: 50593, dtype: object

# Q3: Count the rides per week for each week within the month.To do so,round each date in the start_time column to its previous or current monday.Assume that each week starts at monday and ends on sunday.Thus the first week of june would be monday,Jine 1 through Sunday,June7

In [11]:
citibike['start_time'].dt.is_month_start

0           True
1           True
2           True
3           True
4           True
           ...
1882268    False
1882269    False
1882270    False
1882271    False
1882272    False
Name: start_time, Length: 1882273, dtype: bool

In [12]:
citibike[citibike['start_time'].dt.is_month_start]

                   start_time               stop_time Day_of_week
0     2020-06-01 00:00:03.372 2020-06-01 00:17:46.208      Monday
1     2020-06-01 00:00:03.553 2020-06-01 01:03:33.936      Monday
2     2020-06-01 00:00:09.614 2020-06-01 00:17:06.833      Monday
3     2020-06-01 00:00:12.178 2020-06-01 00:03:58.864      Monday
4     2020-06-01 00:00:21.255 2020-06-01 00:24:18.965      Monday
...                       ...                     ...         ...
52921 2020-06-01 22:42:34.732 2020-06-01 22:44:55.729      Monday
52922 2020-06-01 22:42:46.577 2020-06-01 22:44:49.309      Monday
52923 2020-06-01 22:42:47.175 2020-06-01 23:02:39.745      Monday
52924 2020-06-01 22:43:23.370 2020-06-01 23:28:17.450      Monday
52925 2020-06-01 22:43:58.171 2020-06-01 22:56:59.397      Monday

[52926 rows x 3 columns]

In [13]:
citibike.head(50)

                start_time               stop_time Day_of_week
0  2020-06-01 00:00:03.372 2020-06-01 00:17:46.208      Monday
1  2020-06-01 00:00:03.553 2020-06-01 01:03:33.936      Monday
2  2020-06-01 00:00:09.614 2020-06-01 00:17:06.833      Monday
3  2020-06-01 00:00:12.178 2020-06-01 00:03:58.864      Monday
4  2020-06-01 00:00:21.255 2020-06-01 00:24:18.965      Monday
5  2020-06-01 00:00:22.650 2020-06-01 00:06:18.525      Monday
6  2020-06-01 00:00:25.456 2020-06-01 00:02:05.264      Monday
7  2020-06-01 00:00:27.588 2020-06-01 00:30:38.256      Monday
8  2020-06-01 00:00:48.850 2020-06-01 00:02:16.019      Monday
9  2020-06-01 00:00:50.341 2020-06-01 00:46:04.477      Monday
10 2020-06-01 00:00:56.245 2020-06-01 00:35:53.028      Monday
11 2020-06-01 00:00:57.779 2020-06-01 00:27:48.869      Monday
12 2020-06-01 00:00:58.910 2020-06-01 00:09:48.827      Monday
13 2020-06-01 00:00:59.957 2020-06-01 00:12:35.700      Monday
14 2020-06-01 00:00:59.977 2020-06-01 00:04:26.666      Monday
15 2020-06-01 00:01:04.175 2020-06-01 00:29:55.152      Monday
16 2020-06-01 00:01:10.287 2020-06-01 00:12:36.073      Monday
17 2020-06-01 00:01:13.652 2020-06-01 00:05:24.604      Monday
18 2020-06-01 00:01:13.720 2020-06-01 00:27:06.141      Monday
19 2020-06-01 00:01:15.962 2020-06-01 00:12:26.680      Monday
20 2020-06-01 00:01:18.018 2020-06-01 00:11:27.916      Monday
21 2020-06-01 00:01:22.115 2020-06-01 00:16:07.666      Monday
22 2020-06-01 00:01:22.582 2020-06-01 00:16:13.121      Monday
23 2020-06-01 00:01:26.681 2020-06-01 00:19:11.857      Monday
24 2020-06-01 00:01:37.955 2020-06-01 00:13:48.151      Monday
25 2020-06-01 00:01:40.505 2020-06-01 00:13:36.133      Monday
26 2020-06-01 00:01:53.262 2020-06-01 00:34:16.319      Monday
27 2020-06-01 00:02:01.682 2020-06-01 00:15:45.439      Monday
28 2020-06-01 00:02:07.013 2020-06-01 00:18:08.947      Monday
29 2020-06-01 00:02:12.843 2020-06-01 00:18:09.056      Monday
30 2020-06-01 00:02:24.771 2020-06-01 00:10:56.621      Monday
31 2020-06-01 00:02:35.254 2020-06-01 00:18:02.426      Monday
32 2020-06-01 00:02:40.680 2020-06-01 00:17:56.215      Monday
33 2020-06-01 00:02:41.210 2020-06-01 00:25:30.658      Monday
34 2020-06-01 00:02:44.484 2020-06-01 00:10:03.575      Monday
35 2020-06-01 00:02:47.278 2020-06-01 00:12:11.802      Monday
36 2020-06-01 00:02:50.084 2020-06-01 00:21:43.947      Monday
37 2020-06-01 00:03:07.567 2020-06-01 00:21:59.108      Monday
38 2020-06-01 00:03:08.358 2020-06-01 00:11:00.002      Monday
39 2020-06-01 00:03:13.630 2020-06-01 00:18:46.320      Monday
40 2020-06-01 00:03:17.489 2020-06-01 00:22:31.677      Monday
41 2020-06-01 00:03:20.740 2020-06-01 00:18:34.168      Monday
42 2020-06-01 00:03:27.215 2020-06-01 00:10:54.431      Monday
43 2020-06-01 00:03:31.406 2020-06-01 00:27:55.798      Monday
44 2020-06-01 00:03:47.820 2020-06-01 00:09:41.822      Monday
45 2020-06-01 00:04:02.971 2020-06-01 22:46:49.076      Monday
46 2020-06-01 00:04:09.430 2020-06-01 00:35:53.295      Monday
47 2020-06-01 00:04:20.291 2020-06-01 00:06:01.279      Monday
48 2020-06-01 00:04:22.685 2020-06-01 00:25:49.632      Monday
49 2020-06-01 00:04:44.199 2020-06-01 01:16:33.732      Monday

# Q4:Calculate the duration of each ride,and save the result in new duration column

In [14]:
citibike.drop('Dueartion',axis=1,inplace=True)

KeyError: "['Dueartion'] not found in axis"

In [ ]:
citibike['Duration']=citibike['stop_time']-citibike['start_time']

In [ ]:
citibike

# Q5: Find the avg duration of a bike ride

In [ ]:
citibike['Duration'].mean()

# Q6:Extract the five longest bike rides by duration from the data set

In [ ]:
citibike['Duration'].sort_values(ascending=False).head(5)