In [1]:
import pandas as pd

In [6]:
Student_survey=pd.read_csv('Test01/StudentPerformanceFactors.csv.xls')
Student_survey

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [7]:
Student_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [8]:
Student_survey['School_Type'].unique()

array(['Public', 'Private'], dtype=object)

# Q1: 500-700 Students there family_income,internet_access,hours_studied and parent_involvement

In [13]:
Student_survey.loc[499:699,['Family_Income','Internet_Access','Hours_Studied','Parental_Involvement']]

    Family_Income Internet_Access  Hours_Studied Parental_Involvement
499        Medium             Yes             12                 High
500           Low             Yes             26               Medium
501           Low             Yes             31                 High
502        Medium             Yes             12               Medium
503          High             Yes             23               Medium
..            ...             ...            ...                  ...
695           Low             Yes             18                 High
696        Medium             Yes             22                 High
697          High              No             12                 High
698          High             Yes             26               Medium
699           Low             Yes             19               Medium

[201 rows x 4 columns]

**TAKEAWAY :  The info of the students 500-700**

# Q2 : 1000-1100 students take all the numerical features

In [14]:
Student_survey.select_dtypes(int,float)

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
0,23,84,7,73,0,3,67
1,19,64,8,59,2,4,61
2,24,98,7,91,2,4,74
3,29,89,8,98,1,4,71
4,19,92,6,65,3,4,70
...,...,...,...,...,...,...,...
6602,25,69,7,76,1,2,68
6603,23,76,8,81,3,2,69
6604,20,90,6,65,3,2,68
6605,10,86,6,91,2,3,68
6606,15,67,9,94,0,4,64

**TAKEAWAY : There are 7 columns which contains numerical values**

# Q3: 3000-3500 Students largest time taken to study

In [35]:
A=Student_survey.loc[2999:3499,['Hours_Studied','Attendance']]
A.sort_values(by='Hours_Studied',ascending=False)

      Hours_Studied  Attendance
3241             37          96
3192             34          96
3319             34          84
3398             34          77
3434             34          93
...             ...         ...
3405              5          95
3481              4          76
3017              3          83
3152              3          92
3454              2          99

[501 rows x 2 columns]

**TAKEAWAY : These are the results of top hours studied of the students 3000-3500**

# Q4 : Take Extraccuricular column make it in int

In [36]:
Student_survey['Extracurricular_Activities'].dtype

dtype('O')

In [37]:
Student_survey['Extracurricular_Activities']

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
6602     No
6603     No
6604    Yes
6605    Yes
6606    Yes
Name: Extracurricular_Activities, Length: 6607, dtype: object

In [40]:
Student_survey['Extracurricular_Activities'].map({'Yes':1,'No':0})

0       0
1       0
2       1
3       1
4       1
       ..
6602    0
6603    0
6604    1
6605    1
6606    1
Name: Extracurricular_Activities, Length: 6607, dtype: int64

# Q5:Low Parent involvement and having low attendence

In [44]:
Student_survey.sort_values(by=['Parental_Involvement','Attendance'],ascending=[False,True]).loc[:,['Parental_Involvement','Attendance']]

     Parental_Involvement  Attendance
16                 Medium          60
290                Medium          60
483                Medium          60
573                Medium          60
594                Medium          60
...                   ...         ...
5976                 High         100
6040                 High         100
6081                 High         100
6310                 High         100
6359                 High         100

[6607 rows x 2 columns]

# Q06 - How can you sort the Student_survey DataFrame by the Distance_from_Home column in ascending order and display only the Distance_from_Home and Attendance columns?"

In [47]:
Student_survey.sort_values(by='Distance_from_Home',ascending=True).loc[:,['Distance_from_Home','Attendance']]

     Distance_from_Home  Attendance
2076                Far          77
1403                Far          71
638                 Far         100
3319                Far          84
3316                Far          98
...                 ...         ...
6432                NaN          72
6494                NaN          77
6496                NaN          77
6589                NaN          90
6594                NaN          90

[6607 rows x 2 columns]

In [48]:
Student_survey['Teacher_Quality'].unique

<bound method Series.unique of 0       Medium
1       Medium
2       Medium
3       Medium
4         High
         ...
6602    Medium
6603      High
6604    Medium
6605    Medium
6606    Medium
Name: Teacher_Quality, Length: 6607, dtype: object>

# Q7:How can we filter the Student_survey DataFrame to display the School_Type, Teacher_Quality, and Attendance columns for students who either attend a public school or have high teacher quality?

In [51]:
Student_survey.loc[(Student_survey['School_Type']=='Public')|(Student_survey['Teacher_Quality']=='High')].loc[:,['School_Type','Teacher_Quality','Attendance']]

     School_Type Teacher_Quality  Attendance
0         Public          Medium          84
1         Public          Medium          64
2         Public          Medium          98
3         Public          Medium          89
4         Public            High          92
...          ...             ...         ...
6601      Public          Medium          83
6602      Public          Medium          69
6603      Public            High          76
6604      Public          Medium          90
6606      Public          Medium          67

[5198 rows x 3 columns]

# Q8 : How can you find the number of unique values in the Motivation_Level column of the Student_survey DataFrame?"

In [52]:
Student_survey.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [53]:
Student_survey['Motivation_Level'].nunique

<bound method IndexOpsMixin.nunique of 0          Low
1          Low
2       Medium
3       Medium
4       Medium
         ...
6602    Medium
6603    Medium
6604       Low
6605      High
6606    Medium
Name: Motivation_Level, Length: 6607, dtype: object>

In [54]:
Student_survey.loc[(Student_survey['Hours_Studied']<10)
                   &(Student_survey['Motivation_Level']=='High')]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
74,4,100,High,High,Yes,8,60,High,Yes,0,Medium,High,Private,Positive,4,No,College,Moderate,Male,69
221,9,96,Medium,Medium,Yes,4,82,High,No,0,Low,Medium,Public,Positive,4,No,College,Near,Male,67
471,6,93,Medium,Medium,No,7,52,High,Yes,0,Medium,Medium,Public,Neutral,2,No,College,Near,Female,64
525,9,79,Medium,Low,No,7,90,High,Yes,1,High,Low,Public,Neutral,3,No,High School,Near,Male,63
544,5,84,Medium,Medium,Yes,8,93,High,Yes,4,High,High,Public,Positive,3,No,College,Moderate,Male,68
566,8,86,Medium,High,No,6,50,High,Yes,1,Medium,Medium,Public,Positive,2,No,College,Near,Male,65
568,9,84,High,Low,No,7,92,High,Yes,1,Low,High,Public,Negative,4,No,Postgraduate,Near,Male,66
671,8,94,High,Low,No,8,89,High,Yes,0,Medium,Medium,Public,Neutral,2,No,High School,Near,Female,66
1151,7,74,Low,High,No,9,98,High,Yes,3,High,Low,Public,Neutral,2,No,High School,Moderate,Male,63
1252,8,73,Low,Medium,Yes,6,65,High,Yes,1,Low,Medium,Public,Neutral,4,No,College,Moderate,Male,61
1325,8,80,High,Low,No,6,52,High,Yes,2,Medium,Medium,Public,Positive,1,No,High School,Near,Female,63
1425,8,88,Medium,Medium,Yes,8,92,High,Yes,1,Low,Medium,Public,Negative,4,No,College,Near,Male,66
1487,9,75,High,Low,No,8,61,High,Yes,3,Medium,NaN,Public,Neutral,3,No,High School,Near,Male,63
1750,4,61,Low,High,Yes,7,71,High,Yes,0,Low,Low,Public,Positive,1,No,Postgraduate,Near,Male,58
1804,9,69,High,Medium,Yes,7,82,High,Yes,1,High,High,Public,Positive,2,No,High School,Near,Female,65
1816,7,92,High,Medium,No,8,64,High,Yes,1,Low,Low,Public,Neutral,4,No,Postgraduate,Near,Male,66
1920,8,99,Low,High,Yes,6,83,High,Yes,2,Medium,High,Public,Positive,4,Yes,Postgraduate,Near,Male,70
2024,2,98,Low,High,Yes,7,80,High,Yes,2,Low,High,Public,Neutral,1,No,High School,Near,Male,66
2118,5,89,Medium,Medium,Yes,4,76,High,Yes,2,Medium,Medium,Public,Neutral,3,No,College,Near,Male,65
2489,8,97,High,Medium,Yes,10,70,High,Yes,0,Low,Low,Public,Neutral,1,No,High School,Near,Male,66
2517,7,77,Low,Medium,Yes,7,53,High,Yes,4,Low,Medium,Private,Positive,2,No,College,Moderate,Female,62
2551,9,86,High,Medium,No,8,65,High,Yes,0,Medium,Medium,Public,Positive,3,No,College,Near,Female,66
2556,4,62,Medium,Medium,No,6,78,High,Yes,3,High,NaN,Public,Neutral,2,No,High School,Far,Female,58
2595,7,69,Medium,High,Yes,8,54,High,Yes,1,Medium,High,Public,Positive,2,No,High School,Far,Male,87
2675,8,64,High,Medium,No,7,82,High,Yes,0,High,Medium,Public,Neutral,1,Yes,Postgraduate,Near,Female,61
2880,7,66,High,Low,Yes,8,68,High,Yes,0,Low,Medium,Public,Negative,2,Yes,College,Moderate,Male,57
2881,7,64,Medium,High,No,9,70,High,Yes,4,Low,Low,Public,Neutral,4,Yes,High School,Far,Male,59
2896,7,98,Medium,Medium,No,7,54,High,Yes,0,Medium,High,Private,Neutral,2,No,High School,Near,Female,66
2970,9,91,Medium,Medium,No,8,65,High,Yes,0,Medium,Medium,Public,Positive,4,No,High School,Moderate,Male,65
3090,9,84,High,High,Yes,7,60,High,Yes,1,Low,Medium,Private,Positive,3,No,College,Moderate,Male,66
3152,3,92,High,Low,Yes,5,95,High,Yes,3,Medium,Medium,Public,Neutral,1,No,Postgraduate,Near,Female,67
3197,9,62,High,High,Yes,9,90,High,Yes,4,High,Medium,Public,Neutral,4,No,College,Far,Male,65
3477,7,61,Low,High,Yes,4,76,High,Yes,1,Medium,Medium,Private,Positive,5,No,High School,Far,Female,60
3746,7,91,High,Medium,No,7,94,High,No,3,High,Medium,Public,Neutral,3,No,Postgraduate,Moderate,Female,68
3967,9,91,Medium,Medium,No,10,59,High,Yes,0,Low,Medium,Private,Positive,2,No,College,Moderate,Male,64
3985,8,90,High,High,No,7,79,High,Yes,2,Low,Medium,Public,Negative,4,No,College,Near,Male,68
3996,8,90,Medium,Medium,No,7,73,High,Yes,3,High,Low,Private,Negative,4,No,Postgraduate,Near,Male,67
4207,3,78,Medium,Medium,No,8,54,High,Yes,2,High,Medium,Public,Positive,4,No,High School,Moderate,Male,61
4267,8,60,High,Medium,Yes,9,93,High,Yes,0,Low,High,Public,Neutral,3,No,Postgraduate,Near,Female,62
4376,6,85,High,Medium,Yes,9,70,High,Yes,0,Low,Medium,Public,Positive,3,Yes,Postgraduate,Near,Female,64
4417,8,73,Medium,High,No,8,78,High,Yes,0,Medium,High,Private,Negative,3,No,High School,Near,Male,63
4444,8,72,High,High,Yes,9,93,High,Yes,4,Medium,Medium,Public,Positive,4,No,High School,Near,Male,68
4779,1,88,Medium,High,Yes,4,72,High,Yes,3,Medium,Medium,Private,Negative,2,No,College,Near,Male,92
4797,8,97,Medium,High,Yes,8,58,High,Yes,2,High,Medium,Public,Neutral,2,No,College,Near,Female,69
5347,7,93,High,High,Yes,9,52,High,Yes,1,Medium,Low,Private,Negative,3,No,High School,Moderate,Female,65
5358,9,89,Medium,Low,No,10,68,High,Yes,1,High,High,Public,Negative,3,No,High School,Near,Female,65
5464,8,71,High,Medium,No,8,55,High,Yes,1,Low,High,Public,Positive,2,No,College,Moderate,Male,62
5587,4,73,Low,Medium,Yes,5,97,High,Yes,1,Low,High,Public,Negative,1,No,High School,Near,Male,60
5726,7,74,High,Medium,No,10,69,High,Yes,1,High,Medium,Public,Positive,4,No,High School,Near,Male,64
5791,5,73,High,Low,Yes,6,89,High,Yes,1,Medium,Medium,Public,Neutral,2,No,High School,Near,Male,62
5901,5,61,High,Medium,No,9,84,High,Yes,1,Medium,Medium,Public,Neutral,3,No,College,Near,Male,60
5973,7,94,Medium,Low,Yes,9,57,High,Yes,2,Medium,Medium,Public,Negative,3,No,Postgraduate,Near,Female,66
6390,8,96,Medium,Medium,Yes,8,100,High,Yes,1,High,Medium,Public,Negative,4,No,High School,Moderate,Male,68

# Q9:How can we filter the Student_survey DataFrame to display only the rows where the Attendance is above the average attendance?"

In [58]:
X=Student_survey['Attendance'].mean()
X

79.97744816104132

In [60]:
Student_survey.loc[(X)<(Student_survey['Attendance'])]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6599,30,94,Medium,Low,No,5,52,Low,No,3,High,Medium,Private,Neutral,2,No,Postgraduate,Moderate,Female,70
6600,12,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6601,20,83,Medium,Low,No,6,51,Low,Yes,2,Medium,Medium,Public,Neutral,4,No,High School,Moderate,Female,65
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68

# Q10:How can we filter the Student_survey DataFrame to display only the rows where the Sleep_Hours is below the average sleep hours?

In [63]:
Y=Student_survey['Sleep_Hours'].mean()
Y

7.029060087785682

In [64]:
Student_survey.loc[(Y)>(Student_survey['Sleep_Hours'])]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,Medium,Private,Neutral,2,No,High School,Moderate,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6600,12,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6601,20,83,Medium,Low,No,6,51,Low,Yes,2,Medium,Medium,Public,Neutral,4,No,High School,Moderate,Female,65
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68

# Q11:How can we filter the Student_survey DataFrame to display only the rows where the Hours_Studied is below the average hours studied?

In [66]:
Z=Student_survey['Hours_Studied'].mean()
Z

19.975329196306948

In [69]:
AZ=Student_survey.loc[(Z)>(Student_survey['Hours_Studied'])]
AZ

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,High,Private,Neutral,4,No,College,Moderate,Male,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6597,16,91,High,Medium,Yes,6,72,High,Yes,0,High,High,Public,Negative,2,No,Postgraduate,Near,Female,70
6598,9,87,Low,Medium,Yes,6,64,Medium,Yes,1,High,Medium,Public,Neutral,2,No,High School,Near,Female,64
6600,12,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

# Q12:How can we filter the Student_survey DataFrame to display rows where students have a Low access to resources, a High family income, Yes internet access, and an Exam_Score below 67, or students who have an exam score below the average exam score?

In [76]:
Student_survey.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [77]:
Student_survey['Access_to_Resources'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [75]:
Student_survey['Internet_Access'].unique()

array(['Yes', 'No'], dtype=object)

In [78]:
Student_survey['Family_Income'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [85]:
H=Student_survey['Exam_Score'].mean()
H

67.23565914938702

In [ ]:
HA=Student_survey.loc[(H)>(Student_survey['Exam_Score'])]

In [86]:
Student_survey.loc[(Student_survey['Access_to_Resources']=='Low')
                  |(Student_survey['Family_Income']=='High')
                  &(Student_survey['Internet_Access']=='Yes')
                  &(Student_survey['Exam_Score']<67)]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,Medium,Private,Neutral,2,No,High School,Moderate,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,High,Medium,Private,Positive,3,No,College,Near,Male,60
25,21,62,High,Low,Yes,6,54,High,Yes,0,High,High,Public,Positive,3,No,Postgraduate,Far,Male,64
26,13,91,Low,Medium,No,6,90,Medium,Yes,1,High,Medium,Public,Negative,2,Yes,High School,Moderate,Female,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6599,30,94,Medium,Low,No,5,52,Low,No,3,High,Medium,Private,Neutral,2,No,Postgraduate,Moderate,Female,70
6600,12,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6601,20,83,Medium,Low,No,6,51,Low,Yes,2,Medium,Medium,Public,Neutral,4,No,High School,Moderate,Female,65
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

# Q13:How can we filter the Student_survey DataFrame to display rows where students have an Exam_Score greater than 75, Low family income, Low parental involvement, and more than 7 hours of sleep?

In [87]:
Student_survey['Family_Income'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [88]:
Student_survey['Parental_Involvement'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [89]:
Student_survey['Sleep_Hours'].mean()

7.029060087785682

In [90]:
Student_survey.loc[(Student_survey['Exam_Score']>75)&
                  (Student_survey['Family_Income']=='Low')&
                  (Student_survey['Parental_Involvement']=='Low')&
                  (Student_survey['Sleep_Hours']>7)]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
560,22,71,Low,High,Yes,9,56,High,Yes,1,Low,High,Public,Neutral,3,Yes,College,Near,Female,84
2421,27,90,Low,Medium,No,9,52,Low,No,2,Low,High,Public,Positive,2,Yes,College,Near,Male,86
2687,11,71,Low,Medium,Yes,8,55,Medium,Yes,1,Low,Medium,Public,Negative,3,No,College,Near,Female,87
3924,18,87,Low,Low,No,8,79,High,Yes,1,Low,High,Public,Negative,4,No,College,Near,Male,82

# Q14:How can we filter the Student_survey DataFrame to display the Physical_Activity and Hours_Studied columns for students who have a physical activity rating of 4?

In [91]:
Student_survey['Physical_Activity'].unique()

array([3, 4, 2, 1, 5, 0, 6], dtype=int64)

In [94]:
Student_survey.loc[(Student_survey['Physical_Activity']==4)].loc[:,['Physical_Activity','Hours_Studied']]

      Physical_Activity  Hours_Studied
1                     4             19
2                     4             24
3                     4             29
4                     4             19
10                    4             17
...                 ...            ...
6588                  4             15
6593                  4             16
6594                  4              9
6601                  4             20
6606                  4             15

[1575 rows x 2 columns]

# Q15:How can we filter the Student_survey DataFrame to display rows where the Parental_Education_Level is either College or Postgraduate, and the Exam_Score is below average?

In [95]:
Student_survey['Parental_Education_Level'].unique()

array(['High School', 'College', 'Postgraduate', nan], dtype=object)

In [96]:
Student_survey['Exam_Score'].mean()

67.23565914938702

In [97]:
Student_survey.loc[(Student_survey['Parental_Education_Level']=='College')|
                  (Student_survey['Parental_Education_Level']=='Postgraduate')&
                  (Student_survey['Exam_Score']<67)]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,High,Private,Neutral,4,No,College,Moderate,Male,68
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,Medium,Medium,Private,Positive,3,No,Postgraduate,Near,Male,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588,15,88,Low,Medium,Yes,6,61,Medium,Yes,0,High,Medium,Public,Neutral,4,Yes,Postgraduate,Far,Male,65
6589,22,90,Low,High,No,5,99,Medium,Yes,1,Low,Low,Private,Positive,2,No,College,NaN,Female,70
6590,19,70,Medium,Medium,Yes,7,95,High,No,0,Medium,High,Private,Positive,3,No,College,Near,Female,66
6593,16,75,High,Low,Yes,10,53,High,Yes,0,Low,Low,Public,Positive,4,No,College,Near,Female,64
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

# Q16:How can we filter the Student_survey DataFrame to display rows where students live Near and have an attendance below average, or live Far and have an attendance above average?

In [98]:
Student_survey['Distance_from_Home'].unique()

array(['Near', 'Moderate', 'Far', nan], dtype=object)

In [100]:
Student_survey['Attendance'].mean()

79.97744816104132

In [101]:
Student_survey.loc[(Student_survey['Distance_from_Home']=='Near')&
                  (Student_survey['Attendance']<80)|
                  (Student_survey['Distance_from_Home']=='Far')&
                  (Student_survey['Attendance']>80)]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,Low,Medium,Private,Neutral,4,No,Postgraduate,Near,Male,65
15,17,68,Medium,Medium,No,8,70,Medium,Yes,2,Medium,Medium,Private,Positive,4,No,High School,Near,Female,64
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,High,Medium,Private,Positive,3,No,College,Near,Male,60
17,22,70,Low,Medium,Yes,6,82,Medium,Yes,1,Low,High,Public,Neutral,3,No,High School,Near,Female,65
19,12,75,Medium,High,Yes,7,58,Medium,Yes,3,Medium,Medium,Private,Positive,4,No,College,Near,Male,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,16,75,High,Low,Yes,10,53,High,Yes,0,Low,Low,Public,Positive,4,No,College,Near,Female,64
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

# Q17:How can we get the count of each unique value in the School_Type column of the Student_survey DataFrame?"

In [102]:
Student_survey.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [103]:
Student_survey['School_Type'].value_counts()

School_Type
Public     4598
Private    2009
Name: count, dtype: int64